{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Livro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/livros/">Livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/admin/">Administração</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/generos/">Gêneros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/editoras/">Editoras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/autores/">Autores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/emprestimos/">Emprestimos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/ufs/">UFs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/Cidades/">Cidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/usuarios/">Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <a href="/" class="btn btn-warning mb-4">Voltar para a Home</a>
        <h2>Lista de Livros</h2>
        
        {% for livro in livros %}  <!-- Itera sobre todos os livros -->
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <p><strong>Nome:</strong> {{ livro.nome }}</p>
                <p><strong>Autor:</strong> {{ livro.autor }}</p>
                <p><strong>Editora:</strong> {{ livro.editora }}</p>
                <p><strong>Gênero:</strong> {{livro.genero.nome }}</p>
                <p><strong>Preço:</strong> R$ {{ livro.preco }}</p>
                <p><strong>Data de Publicação:</strong> {{ livro.data_publicacao }}</p>
            </div>
        </div>
        {% endfor %}  <!-- Fim do loop -->
    </div>
    

    <footer class="mt-5 bg-light text-center py-3">
        <p>© 2024 Biblioteca Online. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
